<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
table {
  width: 100%;
  border-collapse: collapse; /* Menghilangkan jarak antara batas sel */
}

th, td {
  padding: 8px; /* Spasi di dalam sel */
  border: 1px solid #262525; /* Batas sel */
  background-color: #f7f8fa

}

th {
  text-align: left; /* Posisi horizontal teks header */
  background-color: yellow;

}

</style>
<body>
     <h2>DATA PEMBELIAN</h2>
    <table>
        <thead>
            <tr>
                <th>NO</th>
                <th>NAMA BARANG</th>
                <th>KODE SUPPLIER</th>
                <th>KODE BARANG</th>
                <th>JUMLAH</th>
                <th>HARGA SATUAN</th>
                <th>TOTAL HARGA</th>
                <th>TANGGAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>Besi </td>
                <td>KS001</td>
                <td>KB001</td>
                <td>2</td>
                <td>30000</td>
                <td>60000</td>
                <td>26 Mei 2025</td>
            </tr>
        </tbody>
    </table>
</body>
</html>