<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
table {
  width: 100%;
  border-collapse: collapse; /* Menghilangkan jarak antara batas sel */
}

th, td {
  padding: 8px; /* Spasi di dalam sel */
  border: 1px solid #262525; /* Batas sel */
  background-color: #f7f8fa

}

th {
  text-align: left; /* Posisi horizontal teks header */
  background-color: yellow;

}
button {
    background-color: blue;
    color: #f7f8fa;
    margin: 10px;
}
</style>
<body>
    <h2>DATA BARANG</h2>
    <button id="Tambah" role="button">Tambah</button>
    <button id ="Edit" role="button">Edit</button>
    <button id ="Hapus" role="button">Hapus</button>
    <table>
        <thead>
            <tr>
                <th>NO</th>
                <th>KODE BARANG</th>
                <th>NAMA BARANG</th>
                <th>STOK BARANG</th>
                <th>HARGA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>KB01</td>
                <td>Besi </td>
                <td>100</td>
                <td>30000</td>
            </tr>
        </tbody>
    </table>
</body>

</html>