<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>DATA BARANG</h2>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>NAMA BARANG</th>
                <th>QYT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>Besi </td>
                <td>100</td>
            </tr>
        </tbody>
    </table>
</body>

</html>