<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <h2>dashboard</h2>
    <nav>   
        <a href="Master.html">Master</a>
        <a href="transaksi.html">transaksi</a> |
        <a href="../view/admin/data_barang.html">data barang</a> |
        <!-- <a href="../view/data_barang.html">data barang</a> | -->
        <a href="../user/data_user.html">data user</a> |
        <a href="../admin/laporan.html">laporan</a>
    </nav>
</body>
</html>